.title-bar{
  background-color: #45ce1b8b;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.win-notice{
  font-size: 1.5em;
  text-align: center;
}